# Especificación de conexión de pines.
# La especificación de pines para la entidad E debe residir en el archivo E.pcf
# En esta explicación <puerto> es un puerto de un bit o un bit dentro de un
# puerto multibit en la entidad y <nr.pin> es un número de pin de la FPGA
# (Ver al final como se conectan los pines de la ICE40H4K a los terminales de la
# placa edu-ciaa-fpga)
#
# Sintaxis:
#
# set_io [-pullup yes|no] <puerto> <nr.pin>
#
# > ejemplo: puerto A es conectado a pin 31 de la FPGA
# set_io A 31
# > ejemplo: pin 4 del puerto multibit B es conectado a pin 32 de la FPGA
# set_io B[4] 32
#
#
# Pines EDU-CIAA-FPGA
# Reloj 12 MHz : 94
# 
# UART Virtual
#     Rx  Tx RTS CTS DTR DSR DCD
#     55  56  60  61  62  63  64 
#
# LED[D3:D6]
#      4   3   2   1
#
# Pulsadores[S1:S4]
#     31  32  33  34
#
# J2 GND GND 142 141 138 136 134 129 125 122 *
#    144 143  NC GND 139 137 135 130 128 124
#
# J3  80  89  84  95  97  99 105 107 *
#     79  81  83  85  96  98 104 106
#
# J4  * NC  5V  37 3V3  5V GND GND  5V 
#
# J5 3V3 GND  11  12  15  16 *
#    3V3 GND   7   8   9  10
#
# J6 3V3 GND  21  22  23  24 *
#    3V3 GND  17  18  19  20
#
# * : pin 1 del conector
#
# NOTA: 3V3, 5V son líneas de alimentación y GND es la masa. Los números
# naturales corresponden a números de pin en la FPGA.
# Ejemplo: el primer contacto de J3 está conectado al pin 107 de la FPGA. El
# pulsador S1 está conectado al pin 31. El LED D6 está conectado al pin 1.
# El oscilador de 12 MHz está conectado al pin 94.


# Tablero de interruptores de 8 bits
set_io x[7] 24 # 7
set_io x[6] 23 # 6
set_io x[5] 22 # 5
set_io x[4] 21 # 4
set_io x[3] 16 # 3
set_io x[2] 15 # 2
set_io x[1] 12 # 1
set_io x[0] 11 # 0

# Display de siete segmentos
set_io h 124 # dp
set_io display[6] 134 # g
set_io display[5] 129 # f
set_io display[4] 135 # e
set_io display[3] 130 # d
set_io display[2] 128 # c
set_io display[1] 122 # b
set_io display[0] 125 # a

# LEDS
#set_io confirmacion_peaton_a 4
#set_io confirmacion_peaton_b 3
#set_io confirmacion_emergencia_a 2
#et_io confirmacion_emergencia_b 1

# Reloj 12 MHz
set_io clk 94